<div class="">
  <div class="">
    <%= link_to "Crear Actor", new_actor_path, class: "btn btn-primary" %>
  </div>
</div>
<table>
  <tr>
    <th>photo</th>
    <th>name</th>
    <th>bio</th>
    <th>birth date</th>
    <th>birth place</th>
    <th>death date</th>
    <th>death place</th>
  </tr>
<% @actors.each do |actor| %>
  <tr>
    <td><img src=<%= actor.image_url %> alt="<%= actor.name %>">
    <td><%= actor.name %></td>
    <td><%= actor.bio %></td>
    <td><%= actor.birth_date %></td>
    <td><%= actor.birth_place %></td>
    <% if !actor.alive%>
      <td><%= actor.death_date %></td>
      <td><%= actor.death_place %></td>
    <% end %>
  </tr>
<% end %>
</table>
